
.titulo-descriptivo {
    background-color: #FFFFFF;
    padding-top: 75px;
    padding-bottom: 25px;
}

.num-exp {
    font-size: 6rem;
    font-weight: bold;
}

.anios-exp {
    color: #3B3B7E;
}

.subt-exp {
    text-align: right;
    padding-bottom: 75px;
    margin-right: 25px;
    font-size: 2rem;
}

.texto-descripcion {
    color: #3B3B7E;
    font-weight: 800;
}

.tag-experiencia {
    background-color: #3B3B7E;
    color: #FFFFFF;
}

.texto-exp {
    margin-left: 25px;
    font-size: 1rem;
    color: #FFFFFF;
}

.titulo-card-exp {
    font-weight: 600;
}

.exp-der {
    display: inline;
}