
.titulo-proyectos {
    text-align: center;
    color: #3B3B7E;
    font-size: 3rem;
    font-weight: bold;
    padding: 50px;
}

.logos-card {
    max-width: 24px;
    margin-right: 5px;
    margin-bottom: 5px;
}
