
.sobre-mi {
    background-color: #3B3B7E;
    padding: 50px 0px 50px 0px;
}

.img-sobre-mi {
    width: 350px;
    color: #FFFFFF;
    text-align: right;
}



.texto-sobre-mi {
    text-align: right;
    color: #FFFFFF;
}

.titulos-secciones {
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: bold;
}